<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.MemberMapper">
<!-- 회원 목록 조회 -->
<select id="selectMemberList" resultType="com.example.demo2.dto.MemberDTO">
SELECT * FROM MEMBER
</select>

<!-- 회원 상세 조회 -->
<select id="selectMemberDetail" resultType="com.example.demo2.dto.MemberDTO">
SELECT * FROM MEMBER WHERE ID=#{paramId}
</select>

<!-- 회원 가입 -->
<!-- <select id="insertMember" resultType="com.example.demo2.dto.MemberDTO">
 INSERT INTO MEMBER VALUES(#{insert.id},#{insert.pw},#{insert.addr},#{insert.tel})
</select> -->

<!-- 회원 추가 -->
<insert id="insertMember" parameterType="com.example.demo2.dto.MemberDTO">
INSERT INTO MEMBER VALUES ( #{id}, #{pw}, #{addr}, #{tel} )
</insert>

<!-- 회원 탈퇴 -->
<select id="deleteMember">
  DELETE FROM MEMBER WHERE id = #{paramId}
</select>

</mapper>